.NavBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  & .options{
    display: flex;
    flex-direction: row;
    align-items: center;
    & .theme{margin-right: 15px;}
    & .unit{
      font-size: 1.3em;
      &:hover{
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  & .links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > a{
      padding: 0px 5px;
      color: var(--nav-color);
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      &.active{
        font-weight: bold;
      }
    }
  }
}
